@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  margin:0;
  padding:0;
  background:url("faq-background.png");
  background-color:#ededed;
  background-attachment: fixed;
  background-size:cover;
  background-position:center;
  font-family: 'Open Sans', sans-serif;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#000084;
}

nav li {
  float: right;
}

#logo {
  float:left;
  padding-left:30px;
  padding-top:10px;
}

nav li a {
  font-size:18px;
  min-width:80px;
  display: block;
  color: white;
  text-align: center;
  padding: 25px 16px;
  text-decoration: none;
}


nav li a:hover {
  background-color: #ff8000;
}
 .active{
  background:#1c4eaa;
 }

 .faq {
  margin-top:80px;
  margin-left:10%;
  margin-bottom:100px;
  max-width:800px;
}

.faq h1,h2,h3{
  color:#000084;
}


button{
  margin-top: 20px;
  width:40%;
  border:none;
  outline:none;
  height:48px;
  background: #000084;
  color:#fff;
  font-size: 18px;
  border-radius:20px;
}

button:hover{
  background: #ff8000;
}