@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body {
  margin:0;
  padding:0;
  background: url("background.jpg");
  background-attachment: fixed;
  background-size:cover;
  background-repeat: no-repeat;
  background-position:center;
  background-color: #ededed;
  font-family: 'Open Sans', sans-serif;
}

h1{
 margin:0;
 padding: 10px 0 10px;
 text-align:center;
 font-size:30px; 
 font-weight:bold;
}

h2 {
  margin:0;
  padding: 0 0 50px;
  text-align:center;
  font-size:18px; 
  font-weight:100;
}

.logo{
  padding:30px;
}


.register{
  width:450px;
  height:750px;
  padding:30px;
  margin-left:auto;
  margin-right:auto;
  margin-top: 50px;
  margin-bottom:50px;
  background:white;
  color:black;
  box-sizing: border-box;
  border-radius: 30px;
  box-shadow: 0px 0px 11px 7px rgba(0,0,0,0.07);
  
}


.register label{
  margin:0;
  padding:0;
  font-weight:bold;
  font-size:16px;

}

.register input[type="text"],input[type="password"],input[type="email"],input[type="tel"] {
  border:none;
  width:100%;
  margin-bottom:20px;
  border-bottom:1px solid black;
  background:transparent;
  outline:none;
  height:35px;
  color:black;
  font-size:16px;
}

.register button{
  width:100%;
  margin-top:30px;
  border:none;
  outline:none;
  height:48px;
  background: #000084;
  color:#fff;
  font-size: 18px;
  border-radius:20px;

}

.register button:hover{
  cursor:pointer;
  background:#FF8C00;
  color:white;
}


h3 {
  margin:0;
  padding-top:20px;
  text-align:center;
  font-size:16px; 
  font-weight:100;
}

h3 a{
  padding-left:3px;
  color:#000084;
  text-decoration: none;
}

h3 a:hover{
  color:#FF8C00;
}