
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  margin:0;
  padding:0;
  background: url("background-main.png");
  background-color:white;
  background-attachment: fixed;
  background-size:cover;
  background-position: absolute;
  background-position:center;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-weight:bold;
  font-size: 50px;
  color:#000084;
}

h2 {
  font-size: 30px;
  color:#000084;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0px 30px;
  overflow: hidden;
  background-color:#000084;
}

nav li {
  float: right;
}

#logo {
  float:left;
  padding-left:30px;
  padding-top:10px;
}

nav li a {
  font-size:18px;
  min-width:80px;
  display: block;
  color: white;
  text-align: center;
  padding: 25px 20px;
  text-decoration: none;
}


nav li a:hover {
  background-color: #ff8000;
}

.main{
  margin-left:auto;
  margin-right: auto;
  width:500px;
  padding-left:55%;
  padding-top:80px;
  text-align: left;
}

button{
  margin-top: 30px;
  width:60%;
  border:none;
  outline:none;
  height:48px;
  background: #000084;
  color:#fff;
  font-size: 18px;
  border-radius:20px;
}

button:hover{
  background: #ff8000;
}